<div class="modal-header p-1 pl-3 pr-3">
    <h4 class="modal-title"><small>Naujo nario pridėjimas</small></h4>
    <button type="button" class="close pt-4" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>

<div class="modal-body font-size-2">
    <div class="form-group">
        <label>haha</label>
        hahaha
    </div>
    <div class="form-group">
        <label>hehehe</label>
        hehehe
    </div>
</div>
<div class="modal-footer p-2 pl-3 pr-4">
    <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Atšaukti</button>
    <button type="submit" class="btn btn-sm btn-success" formnovalidate>Įkelti</button>
</div>